
@{
}

<div class="row">
    <div class="col-md-6">
        <h2>Profile</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <u>Claims</u>
        <dl>
            @foreach (var claim in User.Claims)
            {
                <dt>@claim.Type</dt>
                <dd>@claim.Value</dd>
            }
        </dl>
    </div>
</div>